%h1 Listing chronicle_notes

= form_for :random_object do |f|
  = text_area_tag :testing, "", :class => "wysihtml5"
  
  :javascript
    var editor = new wysihtml5.Editor("testing", { // id of textarea element
      //toolbar:      "wysihtml5-toolbar", // id of toolbar element
      parserRules:  wysihtml5ParserRules // defined in parser rules set 
    });

%table
  %tr
    %th
    %th
    %th

  - @chronicle_notes.each do |chronicle_note|
    %tr
      %td= link_to 'Show', chronicle_note
      %td= link_to 'Edit', edit_chronicle_note_path(chronicle_note)
      %td= link_to 'Destroy', chronicle_note, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chronicle note', new_chronicle_note_path
